@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body {
    position: relative;
    // justify-content: center;
    // align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../../../assets/background.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #23242a;
    background-size: cover;
}

// img{
//     color: #ff5733;
//     width: 100px;
//     align-items: center;
//     // margin-bottom: 0px;
//     size: 40px;
// }

// .backGroundImage{
//     background-image: url('../../../assets/background.webp');
//     background-repeat: no-repeat;
//     height: 100%;
//     width:100%;
//     background-size: cover;



// }
h1{
    color: #ff5733;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.mat-list-item {
    color: #ff5733 !important;
    font-size: 1rem;
    height: 44px !important;
    margin-bottom: 4px;
  
    // &:hover {
    //   color: #f2f5f7 !important;
    // }
  
    ::ng-deep {
      .mat-list-item-content {
        border-radius: 5px;
        margin: 0 8px;
  
        // &:hover {
        //   background: #ff5733 !important;
        // }
      }
    }
  }

.box {
    width: 400px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    top: 30%;
    left: 40%;
    box-shadow: #1c1c1c;
    // align-items: center;

}

.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #ff5733, #ff5733);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #ff5733, #ff5733);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form {
    position: absolute;
    background: #28292d;
    border-radius: 8px;
    inset: 2px;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

.form h2 {
    color: #ff5733;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.form h2::before{
    content: '';
   
}



.inputBox {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    border: none;
    outline: none;
    background: transparent;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05px;
    z-index: 10;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: #ff5733;
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75em;
}

.inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ff5733;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputBox input:valid~i,
.inputBox input:focus~i {
    height: 44px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links a {
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}

.links a:hover,
.links a:nth-child(2) {
    color: #ff5733;
}

// .button {
// background: #ff5733;
// 	font-size: 16px;
// 	margin-top: 30px;
// 	padding: 12px 20px;
// 	text-transform: uppercase;
// 	font-weight: 600;
// 	display: flex;
// 	align-items: center;
// 	width: 100px;
// 	color: #23242a;
// 	cursor: pointer;
//     border: none;
//     margin-left: 100px;
// }

// .button:hover,
// .button:focus {
//     opacity: 0.7;
// }

@media (max-width:700px) {
    .box {
        top: 20%;
        left: 10%;
    }
}

.button {

    position: relative;
    width: 300px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #ff5733;
    font-size: 20px;
    border: 1px solid #ff5733;
    border-radius: 30px;
    transition: all 0.5s ease;
    font-size: 16px;
    margin-top: 30px;
    padding: 12px 20px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 100px;
    // color: #23242a;
    cursor: pointer;
    // border: none;
    margin-left: 100px;
    text-decoration: none;
    background-color: transparent;
}

.button:before {
    content: "";
    position: absolute;
    background: linear-gradient(to right, #ff5733, #ff5733, #ff5733, #ff5733);
    background-size: 400%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 100%;
    transition: all 0.6s ease;
    z-index: -1;
    border-radius: 30px;
}

.button:after {
    content: "";
    background: linear-gradient(to right, #ff5733, #ff5733, #ff5733, #ff5733);
    background-size: 400%;
    position: absolute;
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    z-index: -1;
    border-radius: 40px;
    filter: blur(20px);
    opacity: 0;
    transition: 0.5s;
}

.button:hover {
    border: 1px solid transparent;
    color: #23242a;
}

.button:hover:before {
    width: 100%;
    animation: a 8s linear Infinite;
}

.button:hover:after {
    opacity: 1;
    filter: blur(20px);
    animation: a 8s linear Infinite;
}