<div class="container-fluid page">
  <div class="d-flex page__box example p-3 mt-2">
    <h1>Trainees</h1>
  </div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Ahmed" #input>
        <button mat-button class="addBtn" (click)="openDialog()"><mat-icon>exposure_plus</mat-icon>Add Trainee</button>
      </mat-form-field>

      <div class="mat-elevation-z8" style="margin-top: 10px;">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- Trainee Name Column -->
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Trainee Name </th>
            <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
          </ng-container>

          <!-- Trainee Email Column -->
          <!-- <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Trainee Email </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
          </ng-container> -->

          <!-- Subscription Column -->
          <ng-container matColumnDef="subscription">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Subscription </th>
            <td mat-cell *matCellDef="let row"> {{row.subscription}} </td>
          </ng-container>

          <!---- Date Column ---->
          <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
            <td mat-cell *matCellDef="let row"> {{row.startDate | date}} </td>
          </ng-container>

          <!---- Gender Column ---->
          <!-- <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
            <td mat-cell *matCellDef="let row"> {{row. gender }}
            </td>
          </ng-container> -->

          <!---- Phone Number column ---->
          <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
            <td mat-cell *matCellDef="let row"> {{row.phoneNumber}} </td>
          </ng-container>

          <!---- Address column ---->
          <!-- <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
            <td mat-cell *matCellDef="let row"> {{row.address}} </td>
          </ng-container> -->

          

          <!-----Action Column ---->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button color="primary" (click)="editTrainee(row)">
                <mat-icon>create</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="showDetails(row)">
                <mat-icon>assignment_ind</mat-icon>
              </button>
              
              <button mat-icon-button color="warn" (click)="deleteTrainee(row.email)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>
</div>