<form [formGroup]="productForm" enctype="multipart/form-data">
    <input formControlName="title" matInput placeholder="Product Name">
    <input formControlName="discription" matInput placeholder="discription">
    <select  formControlName="Category">
        <option value="Supplment">Supplment</option>
        <option value="Accessory">Accessory</option>
    </select>
    <input formControlName="quantity" matInput placeholder="quantity">
    <input formControlName="brand" matInput placeholder="brand">
    <input formControlName="price" matInput placeholder="price">
    <div class="form-group">
        <label>Image</label>
        <input class="form-control" formControlName="image" name="image" type="file" multiple (change)="AddImages($event)" placeholder="Select Image">
    </div>
    <button mat-raised-button style="margin-left:8px ;" color="primary" (click)="addProduct()">{{actionBtn}}</button>
</form>
